@include component(box) {
	@include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
    border-radius: 4px;
    background: $theme-white;
    @include rem-spacing (margin-bottom, 14);

    @include component(box-header) {
    	border-bottom: 1px solid rgba($theme-black, .125);
    	@include rem-spacing (margin-bottom, 20);
    	@include rem-spacing (padding, 10, 20);
    }

    @include component(box-title) {
    	@include fontSize($font-size-large);
    	font-weight: $font-weight-semi-bold;
    }

    @include component(box-body) {
    	@include rem-spacing (padding, 10, 20);
    }
	
	@include option(info-box) {
	    display: flex;
	    min-height: 80px;
	    @include rem-spacing (padding, 8);
	    position: relative;
		
		@include component(box-icon) {
			border-radius: 4px;
		    align-items: center;
		    display: flex;
		    justify-content: center;
		    @include fontSize($font-size-h4);
		    text-align: center;
		    width: 70px;
		    color: $theme-white;
		    line-height: 1;
		}

		@include component(box-content) {
		    flex: 1;
		    @include rem-spacing (padding, 5, 10);

		    @include component(box-text) {
	    	    display: block;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    font-weight: $font-weight-semi-bold;
		    }

		    @include component(box-number) {
		    	display: block;
		    	font-weight: $font-weight-bold;
		    	@include fontSize($font-size-h5);
		    }
		}
	}
}