@include component(sec-padding) {
	@include rem-spacing(padding, 120, 0);
	
	@media (max-width:767px){
		@include rem-spacing(padding, 30, 0);
	}

	@include option(small) {
		@include rem-spacing(padding, 40, 0);
	}

	@include option(xsmall) {
		@include rem-spacing(padding, 30, 0);
	}
}

@include component(content-wrapper) {
	background-color: $theme-lg-grey;
	@include rem-spacing (padding, 20, 30);
	@include rem-spacing (margin-left, 250);
	min-height: calc(100vh - 50px);
}

@include component(pagetitle) {
	font-weight: $font-weight-normal;
	letter-spacing: 0.6px;
	@include rem-spacing (margin-bottom, 20);
}