@include component(check-list) {
	margin-bottom: 30px;
	
	li{
		position: relative;
		@include rem-spacing (padding-left, 24);
		@include rem-spacing (margin-bottom, 8);

		&:before{
			content: '\2714';
			position: absolute;
			left: 0;
			top: 0;
			color: $theme-primary;
			font-weight: $font-weight-bold;
			@include fontSize($font-size-medium);
		}
	}
}