@include component(topbar-nav) {
	background-color: $theme-white;
	@include rem-spacing (margin-left, 250);
	border-bottom: 1px solid #dee2e6;
	@include rem-spacing (padding, 6, 16);

	@include component(topbar-navigation) {
		li{
			a{
				color: rgba($theme-black, .5);
				@include rem-spacing (padding, 8, 14);
				display: block;
			}
		}
	}
}

@include component(side-bar) {
	background-color: $theme-dk-grey;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	height: inherit;
	@include box-shadow(0 14px 28px rgba($theme-black,.25),0 10px 10px rgba($theme-black,.22));
	width: 250px;

	@include component(header-logo) {
		display: block;
		@include fontSize($font-size-medium);
		@include rem-spacing (padding, 8, 12);
		@include transition(width .3s ease-in-out);
	    white-space: nowrap;
	    border-bottom: 1px solid $theme-sp-grey;

	    img{
	    	width: 140px;
	    }
	}

	@include component(header-user) {
		@include rem-spacing (padding, 16, 20);
		@include transition(width .3s ease-in-out);
		border-bottom: 1px solid $theme-sp-grey;
		display: flex;
		align-items: center;
		
		@include component(user-img) {
			display: inline-block;
			@include rem-spacing (padding-right, 10);

			img{
				border-radius: 50%;
				@include box-shadow(0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23));
				width: 32px;
			}
		}

		@include component(username) {
			white-space: nowrap;
			color: $theme-white;
			letter-spacing: 0.6px;
			@include fontSize($font-size-medium);
		}
	}

	@include component(primary-navigation) {
		@include rem-spacing (margin, 12, 0);
		@include rem-spacing (padding, 0, 8);

		ul{
			li{
				a{
				    white-space: nowrap;
				    @include rem-spacing (padding, 8, 14);
				    display: block;
				    @include rem-spacing (margin-bottom, 4);
				    color: rgba($theme-white, 0.8);
				    @include fontSize($font-size-medium);
				    border-radius: 4px;

				    &:hover{
				    	background-color: rgba($theme-white, .1);
				    }

				    &.active{
				    	background-color: $theme-primary;
				    	color: $theme-white;
				    }

				    @include component(xxicon) {
				    	@include rem-spacing (margin-right, 6);
				    }
				}
			}
		}
	}
}