@include component(bg-red) {
	background-color: $theme-red;
}

@include component(bg-blue) {
	background-color: $theme-blue;
}

@include component(bg-yellow) {
	background-color: $theme-yellow;
}

@include component(bg-green) {
	background-color: $theme-green;
}

@include component(fc-red) {
	color: $theme-red;
}

@include component(fc-blue) {
	color: $theme-blue;
}

@include component(fc-yellow) {
	color: $theme-yellow;
}

@include component(fc-green) {
	color: $theme-green;
}

@include component(sec-padding) {
	@include rem-spacing(padding, 80, 0);
	
	@media (max-width:767px){
		@include rem-spacing(padding, 30, 0);
	}

	@include option(small) {
		@include rem-spacing(padding, 30, 0);
	}

	@include option(xsmall) {
		@include rem-spacing(padding, 30, 0);
	}
}

@include component(container-wrapper) {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    z-index: 4;
}

@include component(maintitle) {
	text-transform: uppercase;
	//font-size: 4vw;
	font-family: $main-font-heavy;
	line-height: 1;
	letter-spacing: 2px;
	@include rem-spacing (margin-bottom, 20);

	span{
		display: block;
		font-family: $base-font-family;
		@include fontSize($font-size-h2 - 20px);

		@media (max-width: 575px) {
			@include fontSize($font-size-h6);
		}
	}

	@include option(black) {
		color: $theme-black;

		span{
			color: rgba($theme-black, 0.4);
		}
	}

	@include option(white) {
		color: $theme-white;

		span{
			color: rgba($theme-white, 0.6);
		}
	}

	@include option(yellow) {
		color: $theme-yellow;

		span{
			color: rgba($theme-yellow, 0.6);
		}
	}

	@include option(small) {
		@include fontSize($font-size-h2 - 20px);
		letter-spacing: 1px;

		span{
			@include fontSize($font-size-h2 - 30px);
		}

		@media (max-width: 575px) {
			@include fontSize($font-size-h6);
		}
	}
}

@include component(maindesc) {
	//color: $theme-black;
	@include fontSize($font-size-medium);
	@include rem-spacing (margin-bottom, 30);

	@include option(white) {
		color: $theme-white;
	}

	@media (max-width: 991px) {
		@include fontSize($base-font-size);
	}
}

@include component(full-beats) {
	background-size: 60%;
    background-position: 110% 40%;
    background-repeat: no-repeat;
}

@include component(half-beats) {
	background-position: left center;
	background-repeat: no-repeat;
}

@include component(bg-contain) {
    background-size: contain;
}

@include component(about-laliga) {
	@extend .full-beats;
	
	@include component(about-img) {
		max-width: 80%;
		float: right;
	}
}

@include component(gallery-laliga) {
	@extend .half-beats;
	background-color: $theme-blue;

	@include component(inner-content) {
		//@include rem-spacing (margin-top, 30);
		@include transition(0.4s);
	}

	@include component(gallery-tabs) {
		text-align: right;

		@media (max-width: 767px) {
			text-align: center;
			@include rem-spacing (margin-bottom, 40);
		}

		li{
			color: $theme-white;
			@include fontSize($font-size-large);
			letter-spacing: 2px;
			@include rem-spacing (padding, 0, 20);
			position: relative;
			cursor: pointer;

			@media (max-width: 575px) {
				@include rem-spacing (padding, 0, 10);
			}

			&:after{
				content: '';
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 0%;
				border-bottom: 4px solid $theme-red;
				@include transition(width 0.2s);
			}

			&:last-child{
				@include rem-spacing (margin-left, 80px);
			}

			&.current, &:hover{
				//color: $theme-red;

				&:after{
					width: 100%;
				}
			}
		}
	}
}

@include component(category-laliga) {
	//background-color: $theme-dk-grey;
	background-size: 60%;
    background-position: 170% 40%;
    background-repeat: no-repeat;
}

@include component(tvc-laliga) {
	position: relative;
	height: 800px;
	overflow: hidden;

	@media (max-width: 1400px) {
		height: 600px; 
	}
	
	@include component(tvc-video) {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: auto;

		@media (max-width: 991px) {
			@include size(auto, auto);
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    min-width: 100%;
		    min-height: 100%;
		    z-index: -100;
		    @include transform(translateX(-50%) translateY(-50%));
		    background-size: cover;
		}
	}

	@include component(content) {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    @include transform(translate(-50%,-50%));
	    z-index: 3;
	    text-transform: uppercase;
	    color: $theme-white;
	    font-size: 2.5vw;
	    letter-spacing: 1vw;
	    width: 90vw;
	    line-height: 5vw;
	    text-align: justify;
	    font-family: $main-font-heavy;

	    @include component(red) {
	    	color: $theme-red;
	    	letter-spacing: 0.9vw;
	    }
	}

	@include component(overlay) {
		background-color: rgba($theme-black, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		@include size(100%, 100%);
		z-index: 2;
	}
}

@include component(training-laliga) {
	background-color: $theme-yellow;
}

/*** Dashboard Styling ***/

@include component(dashboard-content-detail) {
	@include rem-spacing (padding, 20);

	@include component(title) {
		@include rem-spacing (margin-bottom, 20);
		border-bottom: 2px solid $theme-sp-grey;
	}
}