@include component(primary-footer) {
	background-color: $theme-default;
	@include rem-spacing (padding, 40, 0);

	@include component(footer-link) {
		text-align: center;
		@include rem-spacing (padding-bottom, 20);
		@include rem-spacing (margin-bottom, 20);
		border-bottom: 1px solid $theme-sp-grey;

		li{
			@include rem-spacing (margin, 0, 20);

			@media (max-width: 1200px) {
				@include rem-spacing (margin, 0, 10);
			}

			@media (max-width: 991px) {
				@include rem-spacing (margin, 0, 6);
			}

			a{
				color: $theme-white;
				@include fontSize($font-size-medium);

				@media (max-width: 991px) {
					@include fontSize($base-font-size);
				}

				@media (max-width: 575px) {
					@include fontSize($font-size-small);
				}

				&:hover{
					color: $theme-red;
				}
			}
		}
	}

	@include component(copyright) {
		color: rgba($theme-white, 0.8);
		text-align: center;
		@include fontSize($font-size-small);
	}

	@include component(social-media) {
		text-align: center;
		@include rem-spacing (margin-bottom, 10);

		li{
			@include rem-spacing (margin, 0, 10);

			a{
				color: $theme-white;
				@include fontSize($font-size-large);
			}
		}
	}
}