// Modal CSS
@include component(x-modal) {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    background-color: rgba($theme-black, 0.8);
    z-index: 12;
    //@include transition(opacity .15s linear);
    @include transition(0.6s);
    //@include opacity(0);

    @include component(close-btn) {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $theme-white;
        @include fontSize($font-size-h5);
    }

    @include component(modal-content) {
        position: relative;
        top: 50%;
        left: 0;
        right: 0;
        max-width: 1110px;
        margin: auto;
        @include transform(translateY(-50%));
        border: 1px solid $theme-primary;
        background-color: $theme-black;

        @media (max-width: 991px) {
            @include rem-spacing (margin, 0, 20);
        }

        @media (max-width: 767px) {
            position: absolute;
        }

        @include component(inner-content) {
            @include rem-spacing (padding, 40);
        }
    }
}