@font-face {
    font-family: 'Core Sans C 25';
    src: url('fonts/CoreSansC-25ExtraLight.eot');
    src: local('fonts/Core Sans C 25 ExtraLight'), local('CoreSansC-25ExtraLight'),
        url('fonts/CoreSansC-25ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/CoreSansC-25ExtraLight.woff2') format('woff2'),
        url('fonts/CoreSansC-25ExtraLight.woff') format('woff'),
        url('fonts/CoreSansC-25ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C 35';
    src: url('fonts/CoreSansC-35Light.eot');
    src: local('fonts/Core Sans C 35 Light'), local('CoreSansC-35Light'),
        url('fonts/CoreSansC-35Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/CoreSansC-35Light.woff2') format('woff2'),
        url('fonts/CoreSansC-35Light.woff') format('woff'),
        url('fonts/CoreSansC-35Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C 45';
    src: url('fonts/CoreSansC-45Regular.eot');
    src: local('fonts/Core Sans C 45 Regular'), local('CoreSansC-45Regular'),
        url('fonts/CoreSansC-45Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/CoreSansC-45Regular.woff2') format('woff2'),
        url('fonts/CoreSansC-45Regular.woff') format('woff'),
        url('fonts/CoreSansC-45Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C 65';
    src: url('fonts/CoreSansC-65Bold.eot');
    src: local('fonts/Core Sans C 65 Bold'), local('CoreSansC-65Bold'),
        url('fonts/CoreSansC-65Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CoreSansC-65Bold.woff2') format('woff2'),
        url('fonts/CoreSansC-65Bold.woff') format('woff'),
        url('fonts/CoreSansC-65Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans C 85';
    src: url('fonts/CoreSansC-85Heavy.eot');
    src: local('fonts/Core Sans C 85 Heavy'), local('CoreSansC-85Heavy'),
        url('fonts/CoreSansC-85Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/CoreSansC-85Heavy.woff2') format('woff2'),
        url('fonts/CoreSansC-85Heavy.woff') format('woff'),
        url('fonts/CoreSansC-85Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$main-font-extralight	:   'Core Sans C 25', sans-serif !default;
$main-font-light		:   'Core Sans C 35', sans-serif !default;
$main-font-heavy        :   'Core Sans C 85', sans-serif !default;

$base-font-family		:   'Core Sans C 45', sans-serif !default;
$heading-font-family	:   'Core Sans C 65', sans-serif !default;
$base-line-height		: 	1.5;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$base-font-size			: 	14px !default;
$font-size-h1			: 	70px;
$font-size-h2			: 	60px;
$font-size-h3			: 	26px;
$font-size-h4			: 	24px;
$font-size-h5			: 	22px;
$font-size-h6			: 	20px;

$font-size-xsmall		: 	10px;
$font-size-small		: 	12px;
$font-size-medium		: 	16px;
$font-size-large		: 	18px;

$font-weight-xblack		: 	900;
$font-weight-black		: 	800;
$font-weight-bold		: 	700;
$font-weight-semi-bold	: 	600;
$font-weight-medium		: 	500;
$font-weight-normal		: 	400;
$font-weight-light		: 	300;
$font-weight-thin		: 	100;


//== Color Variation
//
//## Text color, Background color, Border color.

$theme-default	: 	#181411;
$theme-white	: 	#ffffff;
$theme-black	: 	#000000;
$theme-grey		: 	#a0a0a0;
$theme-lg-grey	: 	#acacac;
$theme-sp-grey	: 	#ececec;
$theme-dk-grey	: 	#191919;
$theme-border	: 	#dee2e6;

// Theme Colors
$theme-primary 	: 	#d2002b;
$theme-secondary: 	#37474f;

$theme-yellow 	: 	#f6be00;
$theme-blue		: 	#0077cb;
$theme-red 		: 	#d2002b;
$theme-green 	: 	#00C75D;

$link-color		: 	#181411;

// Extra Colors
$theme-success 	: 	#2ed8b6;
$theme-danger 	: 	#ff5370;
$theme-warning  : 	#ffb64d;
$theme-info		: 	#00bcd4;
